<div class="container">
    <div class='inner'>
        <div class="bounceInRight">
            <img class='title' src="../../assets/title.png" alt="nom Kitties">
        </div>
        <div>
            <div>
                <div class='divHead'>
                    <img class='head rotateIn' src='../../assets/nomHead.png' alt='cute cat head image'>
                </div>
                <div class='divTail'>
                    <img class='tail' src='../../assets/nomTail.png' alt='cute cat body image'>
                </div>
            </div>
        </div>
        <div>
            <img class='title' src="../../assets/sosaanimationstudios.png" alt="nom Kitties">
        </div>

    </div>

</div>