<p>The application can read the following commands: </p>
<dl>
  <dt>RESTART - ex:<strong id='ex1'>restart</strong></dt>
  <dd>Clear the state and shuffle the goal and robot locations</dd>
  <dt>MOVE - ex:<strong id='ex2'>move</strong></dt>
  <dd>Move the robot one step forward</dd>
  <dt>LEFT - ex:<strong id='ex3'>left</strong></dt>
  <dd>Turn the robot 90 degrees to the left</dd>
  <dt>RIGHT  ex:<strong id='ex4'>right</strong></dt>
  <dd>Turn the robot 90 degrees to the right</dd>
  <dt>PLACE X,Y,F | where F is north, south, east, or west. - ex:<strong id='ex5'>place 1,2,west</strong></dt>
  <dd>'Warp' the robot to a new position and orientation. This is 'cheating', but useful for debugging.</dd>
</dl>
